.introjs-overlay {
  position: absolute;
  z-index: 999999;
  background-color: #000;
  opacity: 0;
  background: -moz-radial-gradient(center,ellipse cover,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.9) 100%);
  background: -webkit-gradient(radial,center center,0px,center center,100%,color-stop(0%,rgba(0,0,0,0.4)),color-stop(100%,rgba(0,0,0,0.9)));
  background: -webkit-radial-gradient(center,ellipse cover,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.9) 100%);
  background: -o-radial-gradient(center,ellipse cover,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.9) 100%);
  background: -ms-radial-gradient(center,ellipse cover,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.9) 100%);
  background: radial-gradient(center,ellipse cover,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.9) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66000000',endColorstr='#e6000000',GradientType=1);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
      -ms-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}

.introjs-fixParent {
  z-index: auto !important;
  opacity: 1.0 !important;
  /*position: absolute !important;*/
  -webkit-transform: none !important;
     -moz-transform: none !important;
      -ms-transform: none !important;
       -o-transform: none !important;
          transform: none !important;
}

.introjs-showElement,
tr.introjs-showElement > td,
tr.introjs-showElement > th {
  z-index: 9999999 !important;
}

.introjs-disableInteraction {
  z-index: 99999999 !important;
  position: absolute;
}

.introjs-relativePosition,
tr.introjs-showElement > td,
tr.introjs-showElement > th {
  position: relative;
}

.introjs-helperLayer {
  position: absolute;
  transition: all 0.3s ease-out 0s;
  z-index: 9999998;
  background-color: #fff;
}

.introjs-tooltipReferenceLayer {
  position: absolute;
  visibility: hidden;
  z-index: 10000000;
  background-color: transparent;
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
      -ms-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}

.introjs-helperLayer *,
.introjs-helperLayer *:before,
.introjs-helperLayer *:after {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
      -ms-box-sizing: content-box;
       -o-box-sizing: content-box;
          box-sizing: content-box;
}

.introjs-helperNumberLayer {
  position: absolute;
  visibility: visible;
  top: -16px;
  left: -16px;
  z-index: 9999999999 !important;
  padding: 2px;
  font-family: Arial, verdana, tahoma;
  font-size: 13px;
  font-weight: bold;
  color: white;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0,0,0,.3);
  background: #ff3019; /* Old browsers */
  background: -webkit-linear-gradient(top, #ff3019 0%, #cf0404 100%); /* Chrome10+,Safari5.1+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff3019), color-stop(100%, #cf0404)); /* Chrome,Safari4+ */
  background:    -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%); /* FF3.6+ */
  background:     -ms-linear-gradient(top, #ff3019 0%, #cf0404 100%); /* IE10+ */
  background:      -o-linear-gradient(top, #ff3019 0%, #cf0404 100%); /* Opera 11.10+ */
  background:         linear-gradient(to bottom, #ff3019 0%, #cf0404 100%);  /* W3C */
  width: 20px;
  height:20px;
  line-height: 20px;
  border: 3px solid white;
  border-radius: 50%;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3019', endColorstr='#cf0404', GradientType=0); /* IE6-9 */
  filter: progid:DXImageTransform.Microsoft.Shadow(direction=135, strength=2, color=ff0000); /* IE10 text shadows */
  box-shadow: 0 2px 5px rgba(0,0,0,.4);
}

.introjs-arrow {
    background-color: #fff;
    position: absolute;
}
.introjs-arrow.top {
  height: 75px;
  left: 70px;
  top: -75px;
  width: 3px;
}
.introjs-arrow.top-right {
  top: -10px;
  right: 10px;
  border-top-color:transparent;
  border-right-color:transparent;
  border-bottom-color:white;
  border-left-color:transparent;
}
.introjs-arrow.top-middle {
  top: -10px;
  left: 50%;
  margin-left: -5px;
  border-top-color:transparent;
  border-right-color:transparent;
  border-bottom-color:white;
  border-left-color:transparent;
}
.introjs-arrow.right {
  height: 3px;
  right: -85px;
  top: 50px;
  width: 85px;
}
.introjs-arrow.right-bottom {
  bottom:10px;
  right: -10px;
  border-top-color:transparent;
  border-right-color:transparent;
  border-bottom-color:transparent;
  border-left-color:white;
}
.introjs-arrow.bottom {
  height: 75px;
  left: 70px;
  bottom: -75px;
  width: 3px;
}
.introjs-arrow.left {
  height: 3px;
  left: -75px;
  top: 50px;
  width: 75px;
}
.introjs-arrow.left-bottom {
  left: -10px;
  bottom:10px;
  border-top-color:transparent;
  border-right-color:white;
  border-bottom-color:transparent;
  border-left-color:transparent;
}

.introjs-tooltip {
  position: absolute;
  visibility: visible;
  min-width: 526px;
  max-width: 526px;
  border-radius: 5px 0 0;
  box-shadow: 0 1px 10px rgba(0,0,0,.4);
  -webkit-transition: opacity 0.1s ease-out;
     -moz-transition: opacity 0.1s ease-out;
      -ms-transition: opacity 0.1s ease-out;
       -o-transition: opacity 0.1s ease-out;
          transition: opacity 0.1s ease-out;
}

.introjs-tooltip-inner {

}

.introjs-tooltiptext {
  overflow: hidden;
  background-color: #fff;
}

.introjs-tooltipbuttons {
  text-align: right;
  white-space: nowrap;
}

/*
 Buttons style by http://nicolasgallagher.com/lab/css3-github-buttons/
 Changed by Afshin Mehrabani
*/
.introjs-button {
  color: #fff;
  font-weight: 600;
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 60px;
  text-align: center;
  color: #fff;
}

.introjs-button:hover {
  color: #fff;
}

.introjs-button:focus,
.introjs-button:active {
  color: #fff;
}

/* overrides extra padding on button elements in Firefox */
.introjs-button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.introjs-prevbutton {
  float:left;
  width: 120px;
}

.introjs-nextbutton {
  float:right;
  width: 150px;
  background-color: #43bb57;
  border-bottom-right-radius: 5px;
}

.introjs-button.introjs-nextbutton.introjs-disabled {
    background-color: #3a4148;
    cursor: default;
    text-indent: -9000px;
    pointer-events: none;
}

.introjs-button.introjs-nextbutton:hover {
  background-color: #4DCC61;
}

.introjs-button.introjs-nextbutton.introjs-disabled:hover {
  background-color: transparent;
}

.introjs-button.introjs-prevbutton.introjs-disabled {
    cursor: default;
    color: #706A6A;
}

.introjs-button.introjs-prevbutton:hover {
  background-color: #373E45;
}


.introjs-disabled, .introjs-disabled:hover, .introjs-disabled:focus {
  color: #fff;
}

.introjs-bullets {
  float: left;
  height: 100%;
  line-height: 55px;
  text-align: center;
  width: 256px;
}
.introjs-bullets ul {
  border-bottom: 1px solid #474546;
  clear: both;
  display: inline-block;
  margin: 0;
  padding: 0;
}
.introjs-bullets ul li {
  float: left;
  list-style: outside none none;
  margin: 0 11px;
  position: relative;
  top: 5px;
}
.introjs-bullets ul li:first-child {
    margin-left: 0;
}
.introjs-bullets ul li:last-child {
    margin-right: 0;
}
.introjs-bullets ul li a {
  background-color: #d6d4d7;
  border-radius: 10px;
  display: block;
  height: 9px;
  position: relative;
  text-decoration: none;
  width: 9px;
}
.introjs-bullets ul li a:after {
    background-color: #2a2f35;
    border-radius: 10px;
    bottom: 0;
    content: "";
    display: block;
    height: 5px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 5px;
}

.introjs-bullets ul li a:hover {
  background-color: #fff;
}

.introjs-bullets ul li a.active {
    background-color: #ffffff;
    box-shadow: 0 0 7px 0 #c4c4c4;
}

.introjs-bullets ul li a.active:after {
  display:none;
}

.introjs-progress {
  overflow: hidden;
  height: 10px;
  margin: 10px 0 5px 0;
  border-radius: 4px;
  background-color: #ecf0f1
}
.introjs-progressbar {
  float: left;
  width: 0%;
  height: 100%;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  background-color: #08c;
}

.introjsFloatingElement {
  position: absolute;
  height: 0;
  width: 0;
  left: 50%;
  top: 50%;
}

.introjs-helperNumberLayer {
  display: none;
}
